<div class="dark:text-zinc-200 px-4">
  <div class="mt-4">
    <app-card [color]="'bg-white dark:bg-zinc-900'" [noPadding]="true">
      <div class="py-2 px-4 flex flex-row justify-between">
        <p class="text-2xl text-left">
          <small>salário</small><br />
          <span class="text-sky-500 dark:text-sky-300 font-bold">{{user?.salary?.value | currency: 'BRL'}}</span>
        </p>
        <app-icon-button
          routerLink="/secure/balance"
          size="big"
          class="align-super mt-2"
          icon="ph-chart-bar-fill" />
      </div>
      <div class="">
        <div id="balance" class="balance-container">
          <div class="flex h-full flex-col justify-end">
            <div class="balance-bar h-[59%]"></div>
            <p class="text-xs mx-auto">JAN</p>
          </div>
          <div class="flex h-full flex-col justify-end">
            <div class="balance-bar h-[69%]"></div>
            <p class="text-xs mx-auto">FEV</p>
          </div>
          <div class="flex h-full flex-col justify-end">
            <div class="balance-bar h-[49%]"></div>
            <p class="text-xs mx-auto">MAR</p>
          </div>
          <div class="flex h-full flex-col justify-end">
            <div class="balance-bar h-[39%]"></div>
            <p class="text-xs mx-auto">MAI</p>
          </div>
          <div class="flex h-full flex-col justify-end">
            <div class="balance-bar h-[79%]"></div>
            <p class="text-xs mx-auto">JUN</p>
          </div>
        </div>
      </div>
      <p class="py-2 px-4 text-2xl text-right">
        <small>gastos</small><br />
        <span class="text-yellow-600 dark:text-yellow-200">{{expensesAmount | currency: 'BRL'}}</span>
      </p>
    </app-card>
  </div>
</div>
<div class="mt-10">
  <p class="text-2xl mb-4 px-4">Impacto nos gastos</p>
  <div class="flex gap-3 overflow-x-auto scrollbar-none px-4 py-2">
    <ng-container *ngFor="let creditCard of creditCards">
      <app-chip
        (clicked)="goToInvoices(creditCard.id)"
        [title]="creditCard.title"
        [color]="creditCard.backgroundColor"
        description="{{calculatePercentage(creditCard.id)}}%" />
    </ng-container>
  </div>
</div>
<div class="mt-10 mb-32 px-4">
  <p class="text-2xl mb-4">Transações</p>
  <div class="mb-4">
    <app-input
      icon="ph-magnifying-glass"
      placeholder="filtrar transações..."
      (changed)="filterTransactions($event)" />
  </div>
  <ng-container *ngFor="let transaction of filteredTransactions">
    <div class="mb-4">
      <app-card [color]="'bg-white dark:bg-zinc-900'" (clicked)="editTransaction(transaction)">
        <div class="flex flex-col gap-2">
          <div class="flex flex-row justify-between">
            <p class="text-zinc-500 text-lg inline-flex items-center gap-1">
              <i class="{{transaction.category | category: true }}"></i>
              {{transaction.category | category }}&nbsp;&nbsp;
              <span
                class="bg-yellow-300 px-2 rounded-md text-xs text-zinc-900"
                *ngIf="transaction.recurring">recorrente</span>
            </p>
            <p class="text-zinc-500">{{transaction.date | date: 'dd/MMM'}}</p>
          </div>
          <div class="flex flex-row justify-between">
            <p class="my-auto text-lg">{{transaction.description}}</p>
            <p class="my-auto text-yellow-600 dark:text-yellow-200 text-xl">{{transaction.amount | currency: 'BRL'}}</p>
          </div>
        </div>
      </app-card>
    </div>
  </ng-container>
  <ng-container *ngIf="filteredTransactions.length === 0">
    <div class="w-full flex flex-col items-center justify-center h-36">
      <img class="w-[64px] h-[64px]" src="../../../../assets/img/invoice.png" alt="Invoice Icon" />
      <p class="text-neutral-300 font-light">Nenhum lançamento encontrado</p>
    </div>
  </ng-container>
</div>
<app-modal #deleteTransactionModal>
  <div class="my-2 m-auto">
    <i class="ph-trash text-7xl text-red-500"></i>
  </div>
  <p class="text-gray-600 dark:text-gray-100 text-xl font-bold py-2 px-6">
    Excluir transação?<br/>
  </p>
  <p>Esta ação removerá permanentemente essa transação.</p>
  <div class="flex border-t-[1px] dark:border-zinc-700 items-center justify-between gap-4 w-full mt-8">
    <button
      type="button"
      (click)="deleteTransaction()"
      class="py-2 px-4 mt-4 hover:bg-red-700 focus:ring-red-500 focus:ring-offset-indigo-200 dark:text-white w-full transition ease-in duration-200 text-center text-base font-bold focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg ">
      excluir <ng-container *ngIf="selectedTransaction?.isInstallment">uma</ng-container>
    </button>
    <button
      *ngIf="selectedTransaction?.isInstallment"
      type="button"
      (click)="deleteTransaction(true)"
      class="py-2 px-4 mt-4 hover:bg-red-700 focus:ring-red-500 focus:ring-offset-indigo-200 dark:text-white w-full transition ease-in duration-200 text-center text-base font-bold focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg ">
      excluir todas ({{selectedTransaction?.installmentAmount}})
    </button>
  </div>
</app-modal>
