<div *ngIf="user" class="text-zinc-900 dark:text-zinc-200 px-4">
  <p>Salário</p>
  <div class="flex flex-row justify-between gap-4">
    <p class="font-bold text-3xl text-sky-500">{{user.salary?.value | currency: 'BRL'}}</p>
    <app-icon-button
      size="ultra-big"
      icon="ph-pencil-fill"
      (clicked)="openEditForm()" />
  </div>
  <p class="text-sm mt-4">o salário é utilizado como valor base para calcular seu saldo disponível de cada mês.</p>
  <div class="my-5 py-5 border-t-[0.5px] border-b-[0.5px] dark:border-zinc-800 border-zinc-300 flex justify-start">
    <app-icon-button
      (clicked)="addRecurringExpense()"
      size="big"
      icon="ph-plus"
      title="Gasto Recorrente" />
  </div>
  <div class="flex pb-5 flex-row justify-between gap-2 border-b-[0.5px] dark:border-zinc-800 border-zinc-300">
    <div class="text-2xl inline-flex gap-2">
      <i class="ph-palette my-auto"></i>
      <p>Dark mode</p>
    </div>
    <app-switch
      [value]="isDarkMode"
      (switched)="themeChanged($event)"
      class="mt-1"
    />
  </div>
</div>
<app-bottom-sheet title="Alterar salário" #bottomSheet>
  <div class="flex flex-col justify-evenly my-6">
    <form [formGroup]="form" (submit)="saveSalary()">
      <div class="flex flex-row gap-4">
        <div>
          <app-input
            name="salary"
            [invalid]="salary?.invalid || false"
            formControlName="salary"
            placeholder="ex: 1.000,00"
            inputBackgroundColor="bg-zinc-200 dark:bg-zinc-800"
            inputType="currency" />
        </div>
        <app-loading-button
          type="submit"
          class="m-auto"
          loadingLabel="salvando..."
          [disabled]="form.invalid || loading"
          [loading]="loading">
          Salvar
        </app-loading-button>
      </div>
    </form>
  </div>
</app-bottom-sheet>
